body {
    background-color:#fefefe;
    color: #777;
    font-family: Arial, Helvetica, SansSerif;
}

a {
    color: #843534;
    cursor: pointer;
}

a:active, a:hover {
    opacity: 0.8;
}

.loading-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50000;
    background: rgba(255, 255, 255, 0.5);
}
.loading-indicator {
    z-index: 50001;
    position: fixed;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background: url('/assets/images/loader.gif') center center no-repeat;
    text-align: center;
}
.loading-indicator img {
    margin-top: calc(50% - 30px);
    max-width: 60px;
    max-height: 60px;
    opacity: 0.75;
}
