/*.panel {
  border-radius: 4px;
  border: 1px solid #DEDEDE;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  position:relative;
}

.panel-head {
  background-color: #F6F6F6;
  padding: 10px 20px;
  height: 50px;
}



.panel-head h3 {
  color:#000;
  font-size: 24px;
  float:left;
  margin: 0;
}

.panel-head.small h3 {
  font-size: 16px;
}
*/

.rn-panel {
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid #c6c6c6;
  padding: 25px 20px;
  text-align: center;
  box-shadow: 0 34px 15px rgba(0, 0, 0, 0.175);
  margin: 0 15px;
}
